In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
#help(pd.Series)

In [6]:
myindex = ['USA', 'Canada', 'Mexico']

In [7]:
mydata = [1776, 1867, 1821]

In [10]:
myser = pd.Series(data=mydata, index=myindex)

In [11]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [12]:
myser[0]

1776

In [13]:
myser['USA']

1776

In [14]:
ages = {'Sam' :5, 'Frank':10, 'Spike' :7}

In [15]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64