In [4]:
import numpy as np

In [5]:
import pandas as pd

In [4]:
#help(pd.Series)

In [6]:
myindex = ['USA', 'Canada', 'Mexico']

In [7]:
mydata = [1776, 1867, 1821]

In [10]:
myser = pd.Series(data=mydata, index=myindex)

In [11]:
myser

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [12]:
myser[0]

1776

In [13]:
myser['USA']

1776

In [14]:
ages = {'Sam' :5, 'Frank':10, 'Spike' :7}

In [15]:
pd.Series(ages)

Sam       5
Frank    10
Spike     7
dtype: int64

In [1]:
# Imaginary Sales Data for 1st and 2nd Quarters for Global Company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [6]:
sales_q1 = pd.Series(q1)

In [7]:
sales_q2 = pd.Series(q2)

In [8]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [9]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [12]:
sales_q1['Japan']

80

In [13]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [16]:
sales_q1 /100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [17]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [18]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [19]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [21]:
sales_q1.add(sales_q2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64